---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Core variables and mixins
@import "../_bower_components/bootstrap/scss/variables";
@import "../_bower_components/bootstrap/scss/mixins";

// Reset and dependencies
@import "../_bower_components/bootstrap/scss/normalize";
//@import "../_bower_components/bootstrap/scss/print";

// Core CSS
@import "../_bower_components/bootstrap/scss/reboot";
@import "../_bower_components/bootstrap/scss/type";
@import "../_bower_components/bootstrap/scss/images";
@import "../_bower_components/bootstrap/scss/code";
@import "../_bower_components/bootstrap/scss/grid";
//@import "../_bower_components/bootstrap/scss/tables";
//@import "../_bower_components/bootstrap/scss/forms";
@import "../_bower_components/bootstrap/scss/buttons";

// Components
//@import "../_bower_components/bootstrap/scss/animation";
//@import "../_bower_components/bootstrap/scss/dropdown";
@import "../_bower_components/bootstrap/scss/button-group";
@import "../_bower_components/bootstrap/scss/input-group";
@import "../_bower_components/bootstrap/scss/custom-forms";
@import "../_bower_components/bootstrap/scss/nav";
@import "../_bower_components/bootstrap/scss/navbar";
@import "../_bower_components/bootstrap/scss/card";
//@import "../_bower_components/bootstrap/scss/breadcrumb";
//@import "../_bower_components/bootstrap/scss/pagination";
//@import "../_bower_components/bootstrap/scss/pager";
//@import "../_bower_components/bootstrap/scss/labels";
//@import "../_bower_components/bootstrap/scss/jumbotron";
//@import "../_bower_components/bootstrap/scss/alert";
//@import "../_bower_components/bootstrap/scss/progress";
//@import "../_bower_components/bootstrap/scss/media";
//@import "../_bower_components/bootstrap/scss/list-group";
//@import "../_bower_components/bootstrap/scss/responsive-embed";
//@import "../_bower_components/bootstrap/scss/close";

// Components w/ JavaScript
//@import "../_bower_components/bootstrap/scss/modal";
//@import "../_bower_components/bootstrap/scss/tooltip";
//@import "../_bower_components/bootstrap/scss/popover";
//@import "../_bower_components/bootstrap/scss/carousel";

// Utility classes
@import "../_bower_components/bootstrap/scss/utilities";
@import "../_bower_components/bootstrap/scss/utilities-background";
@import "../_bower_components/bootstrap/scss/utilities-spacing";
@import "../_bower_components/bootstrap/scss/utilities-responsive";

html,
body {
  height: 100%;
}

img {
  max-width: 100%;
}

#stage {
  background: url('/fort_ebey.jpeg') center center no-repeat;
  background-size: cover;
  color: white;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}

#stage-caption {
  font-weight: 200;
  max-width: 60rem;
  margin: 0 auto;
  text-align: center;
}

#stage-caption h1 {
  font-size: 1.6rem;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

footer {
  background-color: #333;
  color: white;
  height: 15rem;
  padding: 1rem 0;
}

#articles {
  padding: 2rem 0;
}
